@import "tailwindcss/base";

@import "./custom.css";

@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./gh-colors.css";

.font-tabular-nums {
  font-variant-numeric: tabular-nums;
}

.icon {
  @apply
    w-4
    h-4
    inline
    align-baseline
    stroke-current;
}

[class*="slide"] {
  @apply
    border-15
    border-solid
    border-indigo-200
    flex-1
    flex-col
    items-center
    justify-center;
}

.pagination {
  @apply
    font-mono
    opacity-70
    text-center;
}

.preview {
  transform: scale(.4);
}

.slide-1 h2 {
  position: relative;
}

.slide-1 h2::after {
  content: '';
  position: absolute;
  bottom: -50%;
  left: 47%;
  width: 10%;
  height: 3px;

  @apply bg-indigo-600;
}

.slide-2,
.slide-5 {
  @apply
    border-none
    bg-cover;
}

.slide-2 {
  background-image: url('/images/party.jpg');
}

.slide-2 h1, .slide-5 h1 {
  background: rgba(247, 250, 252, 0.667);
}

.slide-4 {
  @apply
    flex-row;
}

.slide-5 {
  background-image: url('/images/clouds.jpg');
}

.btn-disabled {
  @apply
    opacity-20
    cursor-not-allowed;
}

.btn-disabled:hover {
  @apply
    opacity-20;
}
