@import "tailwindcss/base";

@import "./custom.css";

@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./gh-colors.css";

.icon {
  @apply
    w-4
    h-4
    inline
    align-baseline
    stroke-current;
}

[class*="slide"] {
  @apply
    border-15
    border-solid
    border-indigo-200
    flex-1
    flex-col
    items-center
    justify-center;
}

.timer {
  font-variant-numeric: tabular-nums;
}

.pagination {
  transform: translateX(-50%);
  font-variant-numeric: tabular-nums;
  
  @apply
    font-mono
    absolute
    bottom-10
    opacity-25
    left-1/2;
}

.preview {
  transform: scale(.4);
}

@media screen and (min-width: 641px) {
  .speaker-notes {
    width: 35vw;
  }
}

.slide-1 h2 {
  position: relative;
}

.slide-1 h2::after {
  content: '';
  position: absolute;
  bottom: -50%;
  left: 47%;
  width: 10%;
  height: 3px;

  @apply bg-indigo-600;
}

.slide-2,
.slide-5 {
  @apply
    border-none
    bg-cover;
}

.slide-2 {
  background-image: url('/images/party.jpg');
}

.slide-2 h1, .slide-5 h1 {
  background: #f7fafcaa;
}

.slide-4 {
  @apply
    flex-row;
}

.slide-5 {
  background-image: url('/images/clouds.jpg');
}
