.slide-bordered {
  @apply
    border-15
    border-solid
    border-indigo-200;
}

.slide-1 h1 {
  @apply relative;

  font-size: 6rem;
  text-shadow: 5px 2px 5px rgba(0, 0, 0, 0.6)  
}

.slide-2 h1, .slide-5 h1 {
  background: rgba(247, 250, 252, 0.667);
}

.slide-4 {
  @apply
    flex-row;
}
