<div
  ...attributes
  class="
    text-lg
    font-mono
    text-center
    font-tabular-nums
    flex-1
  ">

  {{#if this.presentation.hasStarted}}
    <p class="opacity-70">{{this.formattedTime}}</p>
  {{else}}
    <p>--</p>
    <div class="timer-overlay">
      <button class="underline" {{on "click" this.startTicking}}>Start Presentation</button>
    </div>
  {{/if}}
</div>
