<div
  ...attributes
  class="
    text-lg
    font-mono
    text-center
    font-tabular-nums
    flex-1
  ">

  <p class="opacity-70">
    <div id="liquid-timer" class="inline-flex">
      {{liquid-bind this.formattedMinutes}}:{{liquid-bind this.formattedSeconds}}
    </div>
  </p>
</div>
