<button
  {{action "toggleFullScreen"}}
  class="
    {{if @speaker "opacity-50 hover:opacity-90" "absolute right-5 bottom-5 opacity-0 hover:opacity-50"}}
    flex-grow
    flex-1
  ">
  {{svg-jar "screen" class="icon"}}
</button>
