<button
  {{action "togglePlayState"}}
  class="
    absolute
    left-1/4 opacity-25 hover:opacity-50
    bottom-5
    text-lg
    timer
    {{if this.presentation.isPaused "text-red-500 opacity-100"}}
  ">
  {{svg-jar (if this.presentation.isPaused "play" "pause") class="icon"}}
</button>
