<div
  ...attributes
  class="relative flex flex-col min-h-screen w-full md:w-1/4">
  <SlideNotes @notes={{@notes}} />

  <div class="flex flex-col flex-grow w-full bg-gray-200 border-gray-300 border-t-2">
    <Navigation />

    <div class="flex flex-row flex-grow items-center">
      <FullScreen @speaker={{true}} />
      <PresentationView />
      <AdjacentSlidesToggle />
      <Clock />
      <Pause />
    </div>
  </div>
</div>
