<div class="relative flex flex-col min-h-screen">
  <SlideNotes @notes={{@notes}} />

  {{!-- 
    Next slide preview, need to fix styling
    {{#let (concat "slides/slide-" 2) as |Slide|}}
      <Slide class="preview" />
    {{/let}}
  --}}

  <Clock />
  <ToggleFullScreen @speaker={{true}} />
  <Pause />
  <Navigation />
</div>
