<div ...attributes>
  {{#let (get-code-snippet "slide.js" unindent=false) as |snippet|}}
    <CodeBlock @language="javascript" @code={{snippet.source}} />
  {{/let}}
</div>

{{#if @speaker}}
  <SpeakerControls @notes={{this.notes}} />
{{/if}}
