<div class="speaker-notes p-8 flex-4 md:flex-8 w-full">
  {{#if @notes}}
    <div class="whitespace-normal max-h-4/5vh overflow-scroll">
      {{markdown-to-html @notes}}
    </div>
  {{else}}
    <p>¯\_(ツ)_/¯</p>
  {{/if}}
</div>
